@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    color: #707070;
    font-size: 16px;
    font-weight: 300;
}
/* encabezado */
header{
    width: 1100px;
    height: 72px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a img{
        width: 60px;
        vertical-align: middle;
        margin-right: 16px;
    }

    header a{
        text-decoration: none; /* quitar subrayado */
        color: #707070;
        font-weight: 600;
    }

    header nav a{
        padding: 12px;
    }

/*##  heroBanner  ##*/
#heroBanner{
    height: 500px;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -120px;
    display: flex;
    align-items: center;
}

    #heroBanner div{
        width: 1100px;
        margin: auto;
    }

    h1{
        font-size: 40px;
        color: #FFB968;
        font-weight: 600;
    }
    #heroBanner div p{
        width: 400px; 
        margin-top: 24px;
    }

/*##  main  ##*/
main{
    width: 1100px;
    margin: auto;
}
    /*##  letsGo  ##*/
    #letsGo{
        height: 330px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; /* invierte ejes */
        justify-content: center;
        align-items: center;
    
    }
        #letsGo h2{
            width: 1100px;
            text-align: center;
            font-size: 32px;
            color: #FFB968;
            /*margin-top: 100px;*/
        }
        #letsGo p{
            width: 600px;
            /*margin: auto;*/
            text-align: center;
            margin-top: 24px;
        }

    /*##  Promos  ##*/

    #promos{
        display: flex;
        flex-wrap: wrap; /* respeta los anchos */
    }

        #promo1, #promo2{
            width: 550px;
            height: 550px;
            color: #fff;
            /* padding: 100px 80px 0px 80px; */
            padding: 100px 80px;
        }
        #promo1{
            background-color: #807871;
        }
        #promo2{
            background-color: #E3B684;
        }

            #promos h2{
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 32px;
            }

/*##  separador  ##*/
    #separador{
        margin: 80px 0px;
        font-size: 32px;
        font-weight: 600;
        color: #FFB968;
        text-align: center;
    }

/*##  historia  ##*/

#historia{
    display: flex;
    justify-content: space-between;
}
    #historia article{
        width: 339px;
        height: 450px;
        background-color: #807871;
        color: #fff;
    }

    #historia img{
        width: 339px;
        height: 290px;
    }
        #historia h3 {
            font-weight: 600 ;
            margin: 24px 32px 16px 32px;
            font-size: 24px;
        }
    
        #historia p {
            margin: 16px 32px 0px 32px;
        }


/*##  formulario de contacto  ##*/
#formulario{
    height: 580px;
    margin-top: 64px;
    padding-top: 50px;
    background-image: url(../imgs/hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -120px;/* -120 -288 */
}
    #formulario form{
        width: 698px;
        margin: auto;
        padding: 32px;
        background-color: #fff;
        border: 1px solid #cecece;
        border-radius: 12px; /* border redondeados */
    }
    #formulario form label{
        margin-top: 16px;
        display: block;
    }

    #formulario form input, textarea{
        display: block;
        width: 100%;
        margin-top: 8px;

        /*tipo*/
        font-family: Raleway;
        font-size: 16px;
        padding: 8px;

        border: 1px solid #cecece;
        border-radius: 8px;
    }
    textarea{
        height: 104px;
        /*resize: none;*/
        /*max-width: 100%;
        min-width: 100%;*/
        resize: vertical;
    }

    button{
        background-color: #F7BB74;
        color: #5a5a5a;
        font-weight: 600;
        border: 1px solid #FA9E30;
        border-radius: 8px;

        display: block;
        width: 100%;
        margin-top: 24px;
        font-family: raleway;
        font-size: 16px;
        padding: 8px;

        cursor: pointer;
    }
    button:hover{
        background-color: #ffac47;
        color: #323232;
    }

/*##  footer  ##*/

footer{
    background-color: #807871;
    height: 160px;
}